In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_with_label.csv')

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,3249,3716,6,2010-12-01 08:26:00,2.55,17850.0,35
1,0,2649,3724,6,2010-12-01 08:26:00,3.39,17850.0,35
2,0,2855,861,8,2010-12-01 08:26:00,2.75,17850.0,35
3,0,2803,1813,6,2010-12-01 08:26:00,3.39,17850.0,35
4,0,2802,2776,6,2010-12-01 08:26:00,3.39,17850.0,35

In [4]:
df.shape

(406829, 8)

In [5]:
test = pd.read_csv('GIH_Test.csv')
test.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,CustomerID,Country
0,3139,1709,1079,3,2011-02-22 15:22:00,16161.0,35
1,617,510,3457,1,2010-12-08 12:46:00,17341.0,35
2,14653,604,694,36,2011-10-25 13:53:00,15158.0,35
3,8634,1478,3473,2,2011-06-27 12:38:00,16033.0,35
4,15546,3216,871,1,2011-11-06 16:14:00,15351.0,35

In [6]:
df['Quantity'] = df['Quantity'].abs()
test['Quantity'] = test['Quantity'].abs()

In [24]:
x = df.loc[:,('CustomerID','Description','Quantity','StockCode')]
y = df.loc[:,('UnitPrice')]

In [25]:
x_test = test.loc[:,('CustomerID','Description','Quantity','StockCode')]

In [26]:
import xgboost as xgb
xgb = xgb.XGBRegressor()

xgb.fit(x,y).score(x,y)

0.9547724051527541

In [27]:
y_predict = xgb.predict(x_test)

In [28]:
final = pd.DataFrame(y_predict)
final

                0
0        2.402971
1        2.771488
2        2.075797
3        3.466103
4       11.386909
...           ...
122044   1.003553
122045   1.413374
122046   1.484841
122047   6.296361
122048   3.207533

[122049 rows x 1 columns]

In [29]:
final.to_csv('C:/Users/gaurav sahani/Desktop/GIH_D5_80.csv',index=False)

In [30]:
dff = pd.read_csv('test_df_label.csv')
testing = dff[['UnitPrice']]
testing

        UnitPrice
0            1.65
1            1.25
2            3.75
3            1.65
4           12.75
...           ...
122044       0.38
122045       1.69
122046       1.25
122047       3.95
122048       4.15

[122049 rows x 1 columns]

In [31]:
from sklearn.metrics import mean_squared_error
rmse_RFR = np.sqrt(mean_squared_error(testing, final))
rmse_RFR

17.84559158195329